<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace接口名一致 -->
<mapper namespace="demo.dao.OrderMapper">
<!-- id与mapper中方法一致 -->
	<select id="selectOrderUserByOrderNumber" resultType="demo.entity.OrderUser">
		SELECT * FROM tb_order o
		LEFT JOIN tb_user u
		ON o.user_id = u.id WHERE o.order_number = #{number}
	</select>
    <!-- 此处如果不设置autoMapping，Order的几个成员无法获取DB值 -->
	<resultMap id="OrderUserResultMap" type="demo.entity.Order" >		
		<id column="o_id" property="id"/>
		<result column="o_user_id" property="userId"/>
		<result column="o_order_number" property="orderNumber"/>
		<result column="o_created" property="created"/>
		<result column="o_updated" property="updated"/>
		
	<!-- 子对象 -->
		<association property="user" javaType="demo.entity.User" autoMapping="true">
		</association>
		
		<collection property="orderDetailList" javaType="List" ofType="demo.entity.OrderDetail" >
			<id column="od_id" property="id"/>
			<result column="order_id" property="orderId"/>
			<result column="total_price" property="totalPrice"/>
			<result column="status" property="status"/>
		</collection>
	</resultMap>
	
	<select id="selectOrderByOrderNumber" resultMap="OrderUserResultMap">
		SELECT * FROM tb_order o
		LEFT JOIN tb_user u
		ON o.user_id = u.id WHERE o.order_number = #{number}
	</select>
	
	<select id="selectOrderWithOrderDetailByOrderNumber" resultMap="OrderUserResultMap">
	   select u.*,
	   o.id as o_id,o.user_id as o_user_id,
	   o.order_number as o_order_number,
	   o.created as o_created ,o.updated as o_updated,
	   od.id as od_id ,od.order_id as order_id, 
	   od.total_price as total_price , od.status as status
	   from tb_order o
	   left join tb_user u on o.user_id=u.id
	   left join tb_orderdetail od on o.id=od.order_id
	   where o.order_number = #{number}
   </select>

</mapper>