<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 保证唯一 --> 
<mapper namespace="demo.dao.UserMapper">
    
	<select id="queryUserAll" resultType="demo.entity.User">
		select u.user_name userName , u.*
        from tb_user u
	</select>
</mapper>